@WightColor: rgba(255, 255, 255, 0.24);


html,
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    padding-left: 20%;
    padding-right: 20%;

    // header
    header {
        .logo {
            font-family: Belinda;
            color: @WightColor;
            font-size: 52px;
            font-weight: 400;
            text-align: center;
        }

    }
}